@model WebApplication3.Models.Muck

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Muck</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AuthorEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AuthorEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class = "col-sm-10">
            @*@Html.DisplayFor(model => model.Image)*@
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UploadedImageURL)
        </dt>
        <dd class = "col-sm-10">
            <img src="@Html.DisplayFor(model => model.UploadedImageURL)" />
            
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AppliedTemplate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AppliedTemplate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConvertedImageURL)
        </dt>
        <dd class = "col-sm-10">
            <img src="@Html.DisplayFor(model => model.ConvertedImageURL)" />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BluredImageURL)
        </dt>
        <dd class = "col-sm-10">
            <img src="@Html.DisplayFor(model => model.BluredImageURL)" />
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
